:global {
  .layer-row {
    line-height: 30px;
    height: 30px;
    max-height: 30px;

    margin: 0;
    padding: 0 0 0 10px;

    cursor: pointer;

    border-left: 3px solid #333;
    position: relative;

    &:hover {
      border-left: 3px solid #21CCFC;
      .icons-frame {
        i {
          opacity: 1;
        }
      }
    }

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border: none;
      margin: 0;
    }

    &.layer-item {
      p {
        margin-left: 22px;
      }
    }

    &>i {
      position: absolute;
      line-height: 30px;
      left: 10px;
    }

    .icons-frame {
      position: absolute;
      top: 0;
      right: 20px;
      line-height: 30px;

      i {
        opacity: 0;
        color: #666;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: #FFF;
        }
      }
    }
  }
}
